@model SampleData.Models.InvoiceModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillToCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillToCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mailresults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mailresults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailedCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailedCopies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostResultsToWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostResultsToWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Newsletter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Newsletter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WardGuide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WardGuide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChristmasCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChristmasCard)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
